<!-- Header Top Start -->
<div class="header-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="header-top-social justify-content-end">
          {{ with .Site.Params.email }}
          <span class="mr-3 text-white-50 d-none d-md-inline"><i class="fa-solid fa-envelope mr-1"></i>{{ . }}</span>
          {{ end }}
          {{ range .Site.Params.social }}
          <a href="{{ .url }}" target="_blank" title="{{ .name }}"><i class="fa-brands fa-{{ .icon }}"></i></a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header Top End -->
