<!-- Mailchimp Signup Form -->
<form action="{{ .Site.Params.mailchimp_url }}" method="post" target="_blank" class="mailchimp-form">
  <div class="mb-3">
    <input type="email" name="EMAIL" class="form-control" placeholder="Your email address" required>
  </div>
  <div class="mb-3">
    <input type="text" name="FNAME" class="form-control" placeholder="First name (must be Chad)">
  </div>
  <div class="mb-3">
    <input type="text" name="LNAME" class="form-control" placeholder="Last name">
  </div>
  <!-- Bot protection -->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_PLACEHOLDER" tabindex="-1" value="">
  </div>
  <button type="submit" class="btn btn-main rounded">Subscribe</button>
</form>
